<div class="footer mt-32 pb-24" style="background: rgb(255,155,112); background: linear-gradient(45deg,  rgba(219,41,116,1)  0%, rgba(249,142,61,1) 100%);">
    <div class="container mx-auto px-6 text-white pt-12 flex justify-between flex-col sm:flex-row">
        <div class="mt-10 sm:mt-0">
            <h3 class="text-xl font-bold">More Travel Offers</h3>
            <ul>
                <li class="mt-6">Last Minute Offers</li>
                <li class="mt-3">All Inclusive Offers</li>
                <li class="mt-3">Road Trips</li>
                <li class="mt-3">Weekend Trips</li>
            </ul>
        </div>
        <div class="mt-10 sm:mt-0">
             <h3 class="text-xl font-bold">About us</h3>
             <ul>
                <li class="mt-6">Who we are</li>
                <li class="mt-3">Testimonials</li>
                <li class="mt-3">Contact</li>
                <li class="mt-3">Jobs</li>
            </ul>
         </div>
        <div class="mt-10 sm:mt-0">
            <h3 class="text-xl font-bold">Social Media</h3>
            <ul>
                <li class="mt-6">Facebook</li>
                <li class="mt-3">Twitter</li>
                <li class="mt-3">Instagram</li>
                <li class="mt-3">Pinterest</li>
            </ul>
        </div>
        <div class="mt-10 sm:mt-0">
            <h3 class="text-xl font-bold">Legal</h3>
            <ul>
                <li class="mt-6">Impressum</li>
                <li class="mt-3">Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>
